.blog-container {
    display: flex;
    flex-direction:column;
    align-items: center;

    .content-container{
        display: flex;
        flex-direction: column;
        width: 800px;

        a{
            text-decoration: none;
            color: $teal;
            width: 800px;

            &:hover {
                color: $dark-teal;
            }
        }

        h1 {
            font-size: 1.5em;
        }

        .feautred-image-wrapper{
            img{
                margin: 15px 0px;
                width: 100%;
                height: 350px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}
// ::-webkit-scrollbar {
//     width: 20px;
//   }
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px $teal;
//     border-radius: 5px;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: $dark-teal;
//     border-radius: 5px;
//   }